/* Google Font "poppins" */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #121213;
    display: grid;
    place-items: center;
}

#header {
    position: relative;
    width: 85%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

 .menu_side,
.song_side {
    width: 25%;
    height: 90%;
    border: 1px solid #fff;
    background: #111727;
    /* background-color: white; */
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
    transition: 1s linear;
}

 .song_side {
    width: 75%;
    background: #0b1320;
}
.menu_side h6 {
display: none;
}
 .master_play {
    width: 100%;
    height: 10%;
    border: 1px solid #fff;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

.menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

.queue {
    margin: 40px 0px 0px 20px;
    height: 50px;
}
.queue h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
}

.queue h4:hover{
    color: white;
}

.queue h4 span{
    position: relative;
    margin-right: 35px;
}

.queue h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

.queue h4:hover span::before{
    border: 2px solid #fff;
}

#header .menu_side .playlist h4 .bi{
    display: none;
}

.active{
    color: #36e2ec;
    font-size: 15px;
    display: inline-block;
}
.active span{
    display: none;
}
.active .bi{
    display: flex;
    margin-right: 20px;
}
.menu_song{
    width: 100%;
    height: 420px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: auto;
}

.menu_song::-webkit-scrollbar{
    display: none;
}
.menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
.menu_song li:hover{
   background: rgb(105, 105, 105, .1);
}
.menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262 ;
 }
 .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
 }
 .menu_song li h5{
   font-size: 11px;
   margin-left: 15px;
   width: 170px;
   /* border: 1px solid #fff; */
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
.subtitle{
    font-size: 9px;
    color: #4c5262;
}

#header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
}
.master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.master_play img{
    width: 35px;
    height: 35px;
}
.master_play h5{
   width: 130px;
   margin-left: 15px;
   color: #fff;
   line-height: 17px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 13px;
}
.master_play h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 .icons{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex; 
    align-items: center;
}
.icons .bi{
   cursor: pointer;
   outline: none;
}
.shuffle{
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#download_music{
    font-size: 20px;
    margin-left: 10px;
}
.icons .bi:nth-child(3){
    border: 1px rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}
.master_play span{
    color: #fff;
    width: 32px;
    /* border: 1px solid #fff; */
    font-size: 11px;
    font-weight: 400;
    margin-left: 35.5vw;
    margin-top: -0.4vw;
    display: block;
}
#currentStart{
   margin: 0px 0px 0px 20px;
}
.bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170);
    margin: 0px 15px 1px 10px;
    display: inline-block;
}

.bar2{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
.dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #36e2ec;
    border-radius: 50%;
    left: 50%;
    top: -1.5px;
    transition: 1s linear;
}
.dot::before{
   position: absolute;
   content: '';
   width: 15px;
   height: 15px;
   border: 1px solid #36e2ec;
   border-radius: 50%;
   left: -7px;
   top: -6.5px;
   box-shadow: inset 0px 0px 3px #36e2ec;
}
.bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0px;
    cursor: pointer;
    z-index: -1;
    opacity: 0px;
}
.vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin-left: 10vw;
}
.vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
}
.vol input[type='range']{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: -1;
    opacity: 0;
    color: transparent;
}
.vol_bar{
    position: absolute;
    background-color: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
#vol_dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 50%;
    top: -1.5px;
    transition: 1s linear;
}

#header .master_play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}
.song_side{
    z-index: 2;
}
.song_side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 250px;
    background: url('img.png');
    z-index: -1;
}
.song_side nav{
    width: 90%;
    height: 10%;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.song_side nav ul{
    display: flex
}
.song_side nav li{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}
.song_side nav li:nth-child(1){
   color: #fff;
}
.song_side nav li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}
.song_side nav .search{
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
}
.song_side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}
.song_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;  
}
.song_side nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}
.song_side nav .user{
    position: relative;
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    border-radius: 50%;
}
.song_side nav .user img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #121213;
}
.content{
    width: 90%;
    height: 30%;
    /* border: 1px solid #fff; */
    margin: auto;
    padding: 20px;
}
.song_side .content h1{
    font-size: 25px;
    font-weight: 600;
}
.song_side .content p{
    font-size: 20px;
    font-weight: bold;
    color: #4c5262;
    margin: 5px;
}
.content .buttons{
    margin-top: 15px;
}
.content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none; 
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
.content .buttons button:hover{
    background: none;
    color: #36e2ec;
}
.content .buttons button:nth-child(2){
    background: none;
    color: #36e2ec;
}
.content .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color: #fff;
}
#header .song_side .popular_song {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid #fff; */
}

#header .song_side .popular_song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .song_side .popular_song .h4 .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

#header .song_side .popular_song .h4 .bi:hover {
    color: #fff;
}

#header .song_side .popular_song .pop_song {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}

#header .song_side .popular_song .pop_song::-webkit-scrollbar {
    display: none;
}

#header .song_side .popular_song .pop_song li {
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

#header .song_side .popular_song .pop_song li:hover {
    background: rgb(105, 105, 170, .1);
}

#header .song_side .popular_song .pop_song li .img_play {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .song_side .popular_song .pop_song li .img_play img {
    width: 100%;
    height: 100%;
}

#header .song_side .popular_song .pop_song li .img_play .bi {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

#header .song_side .popular_song .pop_song li:hover .img_play .bi {
    opacity: 1;
}

#header .song_side .popular_song .pop_song li h5 {
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#header .song_side .popular_song .pop_song li h5 .subtitle {
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}

#header .song_side .popular_artists {
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 15px;
}

#header .song_side .popular_artists .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .song_side .popular_artists .h4 .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

#header .song_side .popular_artists .h4 .bi:hover {
    color: #fff;
}

.item {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-left: 45px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}

 .item::-webkit-scrollbar {
    display: none;
}

 .item li {
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    margin-right: 40px;
    cursor: pointer;
    
}
.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

/* .item  img {
    width: auto;
    height: 100%;
    border-radius: 50%;
} */
